*{background-color: #51BAED;}




H3 {
  Color: #CD4CE0;
  padding: 40px;
  text-align: center;
  font-weight: bolder;
  font-family: 'Xanh Mono', monospace;
  font-size: 3rem;
}


H5 {
  Color: #EBCE63;
  padding: 40px;
  font-family: 'Xanh Mono', monospace;
  text-align: center;
  font-size: 3rem;
}
a {
padding-left: 350px;
}


H6 {
color: #E86D5D;
text-align: center;
font-size: 2rem;
font-family: 'Xanh Mono', monospace;

}



ol.c {
  list-style-type: upper-roman;
  font-size: 2rem;
}
